.card {
  width: 96%;
  margin: 2%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body>* {
  margin-bottom: 3px;
}

.arrow {
  height: 150px;
  width: 200px;
  transform-origin: 50% 50%;
  margin: 70px 0;
}