.card {
  width: 96%;
  margin: 2%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body>* {
  margin-bottom: 3px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.input-container p {
  padding: 4% 8% 4% 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
