.card {
  width: 96%;
  margin: 2%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh;
}

.card-header p {
  width: 90%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body * {
  margin-bottom: 3px;
}

.card-body img {
  width: 90%;
  height: auto;
}

.card-body p {
  font-size: 3vh;
}
