.card {
  height: 85vh;
  width: 96%;
  margin: 2%;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body>svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.card .map-element {
  position: absolute;
}
