.card {
  width: 96%;
  margin: 2%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body * {
  margin-bottom: 3px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container p {
  white-space: nowrap;
  padding: 5% 2% 6% 0;
  margin: 0;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
